<div class="page-title" id="lightbluecrambs">
  <div class="title"> <strong>MARKETPLACE</strong> <span class="lato light" style="font-size: 16px;"> > Create new Program</span> </div> 
</div>

<div ng-controller="widgetsController">
  <div class="row">
    <div class="col-lg-3">

      <div class="card bg-white no-border">
        
     <ul class="list-group">
  <li class="list-group-item">Basic Information</li>
  <li class="list-group-item">Dates & Pricing</li>
  <li class="list-group-item">Overview</li>
  <li class="list-group-item">Requirements</li>
  <li class="list-group-item">Logistics</li>
  <li class="list-group-item">What's Included</li>
    <li class="list-group-item">Attachments</li>
    <li class="list-group-item">Program Settings</li>
    <li class="list-group-item">Matrix</li>
</ul>
        </div>


        <div class="card bg-white no-border">
        <div class="p-a bb">
          PROGRAM SECTIONS
        </div>
        <ul class="notifications">
          <li>
            <ul class="notifications-list">
              

              <li>
                <a href="javascript:;">
                  <div class="notification-icon">
                    <div class="circle-icon bg-success text-white">
                      <i class="icon-bulb"></i>
                    </div>
                  </div>
                  <span class="notification-message"><b>Sean</b> launched a new application</span>
                  <span class="time">2s</span>
                </a>
              </li>


              <li>
                <a href="javascript:;">
                  <div class="notification-icon">
                    <div class="circle-icon bg-danger text-white">
                      <i class="icon-cursor"></i>
                    </div>
                  </div>
                  <span class="notification-message"><b>Removed calendar</b> from app list</span>
                  <span class="time">4h</span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <div class="notification-icon">
                    <div class="circle-icon bg-primary text-white">
                      <i class="icon-basket"></i>
                    </div>
                  </div>
                  <span class="notification-message"><b>Denise</b> bought <b>Urban Admin Kit</b></span>
                  <span class="time">2d</span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <div class="notification-icon">
                    <div class="circle-icon bg-info text-white">
                      <i class="icon-bubble"></i>
                    </div>
                  </div>
                  <span class="notification-message"><b>Vincent commented</b> on one of your items</span>
                  <span class="time">2s</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>





  </div>
</div>