<div class="brand">

  <!-- toggle small sidebar menu -->
<!--   <a href="javascript:;" class="toggle-apps hidden-xs" ng-click="toggle.quickLaunch = !toggle.quickLaunch">
    <i class="icon-grid"></i>
  </a>
 -->  <!-- /toggle small sidebar menu -->

  <!-- toggle offscreen menu -->
  <div class="toggle-offscreen">
    <offscreen class="visible-xs"></offscreen>
  </div>
  <!-- /toggle offscreen menu -->

<a href="javascript:;" class="small-sidebar-toggle" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
          <img class="galatti ga-bars" src="/Global/images/Sprites/bars.png">
    </a>


  <!-- logo -->

  <a class="brand-logo">

    <span class="logo-text1">AFS</span>
    <span class="logo-text2">Global</span>
  </a>
<!--   <a href="#" class="small-menu-visible brand-logo">R</a>
 -->  <!-- /logo -->

</div>



<!-- main navigation -->
<nav role="navigation" side-navigation ng-if="!toggle.quickLaunch">

  <ul class="nav">




    <!-- dashboard -->
    <li ui-sref-active="active">
      <a href="#/">
               <img class="galatti ga-icon" src="/Global/images/Sprites/dashboard.png">

        <span translate="menu.DASHBOARD"></span>
      </a>
    </li>
    <!-- /dashboard -->


 


    <!-- cards -->
    <li data-ng-class="{open: $state.includes('app.cards')}">
      <a href="javascript:;">
               <img class="galatti ga-icon" src="/Global/images/Sprites/tag.png">
        <span >MARKETPLACE</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active" class="submaket">
          <a ui-sref="app.cards.basic">
            <span>Programs</span>
          </a>
        </li>
        <li ui-sref-active="active" class="submaket">
          <a ui-sref="app.cards.portlets">
            <span translate="menu.PORTLETS"></span>
          </a>
        </li>
        <li ui-sref-active="active" class="submaket">
          <a ui-sref="app.cards.draggable">
            <span translate="menu.DRAGGABLE"></span>
          </a>
        </li>
        <li ui-sref-active="active" class="submaket">
          <a ui-sref="app.cards.widgets">
            <span> + New Program</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /cards -->

    <!-- apps -->
    <li data-ng-class="{open: $state.includes('app.apps')}">
      <a href="javascript:;">
<img class="galatti ga-icon" src="/Global/images/Sprites/globe.png">
        <span>GLOBAL LINK</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.apps.calendar">
            <span translate="menu.CALENDAR"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.apps.gallery">
            <span translate="menu.GALLERY"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.apps.messages">
            <span translate="menu.MESSAGES"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.apps.social">
            <span translate="menu.SOCIAL"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.apps.projects">
            <span translate="menu.PROJECTS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.apps.contacts">
            <span translate="menu.CONTACTS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.apps.travel">
            <span translate="menu.TRAVEL"></span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /apps -->

    <!-- commerce -->
    <li data-ng-class="{open: $state.includes('app.commerce')}">
      <a href="javascript:;">
<img class="galatti ga-icon" src="/Global/images/Sprites/mic.png">
        <span> ANNOUCEMENTS</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.commerce.products">
            <span translate="menu.PRODUCTS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.commerce.cart">
            <span translate="menu.CART"></span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /commerce -->

    <!-- ui -->
    <li data-ng-class="{open: $state.includes('app.ui')}">
      <a href="javascript:;">
<img class="galatti ga-icon" src="/Global/images/Sprites/pie.png">
        <span>HEALTH MONITOR</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.ui.buttons">
            <span translate="menu.BUTTONS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.social-buttons">
            <span translate="menu.SOCIALB"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.directives">
            <span translate="menu.GENERAL"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.tabs_accordion">
            <span translate="menu.TABS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.progressbars">
            <span translate="menu.PROGRESS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.pagination">
            <span translate="menu.PAGINATION"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.sliders">
            <span translate="menu.SLIDERS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.notifications">
            <span translate="menu.NOTIFICATIONS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.scroll">
            <span translate="menu.INIFINITE"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.spinners">
            <span translate="menu.SPINNERS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.skins">
            <span translate="menu.SKINS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.colors">
            <span translate="menu.COLORS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.ui.alert">
            <span translate="menu.ALERTS"></span>
          </a>
        </li>
        <li data-ng-class="{open: $state.includes('app.ui.icons')}">
          <a href="javascript:;">
            <i class="toggle-accordion"></i>
            <span translate="menu.ICONS"></span>
          </a>
          <ul class="sub-menu">
            <li ui-sref-active="active">
              <a ui-sref="app.ui.icons.sli">
                <span translate="menu.SLI"></span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="app.ui.icons.fontawesome">
                <span translate="menu.FONTAWESOME"></span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="app.ui.icons.climacon">
                <span translate="menu.CLIMACON"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- /ui -->

    <!-- forms -->
    <li data-ng-class="{open: $state.includes('app.forms')}">
      <a href="javascript:;">
<img class="galatti ga-icon" src="/Global/images/Sprites/clendar.png"> 
       <span>CALENDAR</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.forms.native">
            <span translate="menu.BASIC"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.custom_forms">
            <span translate="menu.CUSTOM"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.plugins">
            <span translate="menu.PLUGINS"></span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="app.forms.wizard">
            <span translate="menu.WIZARD"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.editors">
            <span translate="menu.EDITORS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.validation">
            <span translate="menu.VALIDATION"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.masks">
            <span translate="menu.MASKS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.upload">
            <span translate="menu.UPLOAD"></span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /forms -->

    <!-- tables -->
    <li data-ng-class="{open: $state.includes('app.tables')}">
      <a href="javascript:;">
        <img class="galatti ga-icon" src="/Global/images/Sprites/book.png">
        <span >DIRECTORY</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.tables.table_basic">
            <span translate="menu.BASIC"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.tables.table_responsive">
            <span translate="menu.RESPONSIVE"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.tables.datatable">
            <span translate="menu.DATATABLES"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.tables.table_editable">
            <span translate="menu.XEDITABLE"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.tables.tables_ngtable">
            <span translate="menu.NGTABLE"></span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /tables -->

    <!-- charts -->
    <li data-ng-class="{open: $state.includes('app.charts')}">
      <a href="javascript:;">
<img class="galatti ga-icon" src="/Global/images/Sprites/note.png">
        <span>LIBRARY</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.charts.n3">
            <span translate="menu.N3">n3</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.charts.flot">
            <span translate="menu.FLOT"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.charts.easypie">
            <span translate="menu.EASYPIE"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.charts.chartjs">
            <span translate="menu.CHARTJS"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.charts.rickshaw">
            <span translate="menu.RICKSHAW"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.charts.nvd3">
            <span translate="menu.NVD3"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.charts.c3">
            <span translate="menu.C3JS"></span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /charts -->

    <!-- maps -->
    <li data-ng-class="{open: $state.includes('app.maps')}">
      <a href="javascript:;">
<img class="galatti ga-icon" src="/Global/images/Sprites/calc.png">
        <span>FINANCE</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.maps.google">
            <span translate="menu.GOOGLE"></span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.maps.vector">
            <span translate="menu.VECTOR"></span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /maps -->

  
    <!-- /extras -->

   
    <!-- menu levels -->

    <!-- documentation -->
  
    <!-- /documentation -->

    <!-- static -->
  
    <!-- /static -->

  </ul>
</nav>
<!-- /main navigation -->
